$("#search_user #<%= dom_id(@user)%>").fadeOut(300, function(){ 
  $("#searchResult li").remove();
  $("#follower_count").html(parseInt($("#follower_count").html()) + 1 );
  $("#followers").append("<tr id=<%= dom_id(@user) %> ><td> <%= @user.email %><br/><a class=\"btn btn-success btn-xs\" data-remote=\"true\" rel=\"nofollow\" data-method=\"delete\" href=\"/follows/<%= @user.id %>\">unsubscribe</a></td></tr>")
  get_posts();
});
